<h1>{{titre}}</h1>
<h2>{{date}} </h2>
<img src="{{image}}" width="{{width}}" height="{{height}}">
<a href="#" (click)="onClick()">cliquez sur le bouton</a>
<button class="btn btn-default"(click)="changerImage()">Cliquer pour changer image</button>
<button class="btn btn-default"(click)="changerTaille()">Cliquer pour changer la taille</button>
<button class="btn btn-default"(click)="onClickDate()">Afficher la date</button>

<p>{{texte}}</p>
<button class="btn btn-default"(click)="changerTexte()">cliquer sur le bouton</button>

<p>{{nombre}}</p>
<button class="btn btn-default"(click)="incrementerNombre()">+</button>
<button class="btn btn-default"(click)="deincrementerNombre()">-</button>
<br>

<img [src] ="picture" [width] ="width" [height] ="height">
<button class="btn btn-default"(click)="defilerImage()">Cliquer pour changer image</button>
<br>
<h1>Liste de tache </h1>
<div>
<!-- formulaire -->
    <form>
        <input type="text" placeholder="ajouter à la liste" name="texte2" [(ngModel)]="texte2">
         <input type="submit" value="ajouter" (click)="ajouterAListe(texte2)" >


    </form>

<!-- fin de formulaire -->

</div>
<div>
<!-- 2 way binding -->
<p>{{texte2}}</p>
</div><br>    

<!-- liste tache -->    
<div>

  <ul *ngFor="let tache of taches ">
<li>{{tache}} </li>

  </ul>
</div>

<h1>Liste des actions à réaliser</h1>
<div>
<form>
 <input type="text" placeholder="ajouter à la liste" name="texte"[(ngModel)]="texte">
 <input type="submit" value="ajouter" class="btn" (click)="ajouterAction(texte)">

</form>
   
</div>
<div>
  <p>{{texte}} </p>
</div>
<br>
<div>
  <ul *ngFor="let action of actions let i=index">
  <li (click)="actionRealise(i)" [class.realise]="action.realise == true">{{action.texte}}</li>
  </ul> 
  <p>Cliquer sur l'action réalisée</p> 
</div>


